::-webkit-scrollbar {
    background: #040612;
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #EF1679;
}

.bg-main {
    background: url('/Landing.jpg');
    background-size: 100%;
    min-height: 100vh;
    background-position: top center;
    background-repeat: no-repeat;
}

.navbar-blur {
    background: transparent;
    transition: 0.3s all;
}

.active-blur {
    background: #12111281;
    backdrop-filter: blur(20px);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: 0.3s all;
}

.text-gradient {
    background: linear-gradient(141deg, #1F8EBE 0%, #AE61ED 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.box-game {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 270px;
    min-height: 160px;
    padding: 15px;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 10px;
    background: var(--glass-1-fill-carey, linear-gradient(294deg, rgba(191, 191, 191, 0.06) 0%, rgba(0, 0, 0, 0.00) 100%), rgba(0, 0, 0, 0.14));
    box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(26.5px);
    transition: all .4s;
}

.box-game:hover {
    border: 1px solid hsla(0, 0%, 100%, .3);
    transition: all .4s;
    transform: translateY(-5px);
    box-shadow: 0 0 15px hsla(328, 100%, 50%, 0.3);
}

.react-slideshow-container .default-nav:first-of-type {
    margin-left: -70px;
}

.react-slideshow-container .default-nav:last-of-type {
    margin-right: -70px
}

.line::after {
    content: '';
    display: block;
    background: url('/line.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    width: 470px;
    height: 20px;
}

.team-card {
    position: relative;
    height: 400px;
    background: url('/team-card.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: all .4s;
    border: 1px solid hsla(0, 0%, 100%, .1);
}

.team-card:hover {
    transition: all .4s;
    border: 1px solid hsla(0, 0%, 100%, .3);
    transform: translateY(-5px);
    box-shadow: 0 0 15px hsla(328, 100%, 50%, 0.3);
}

.team-card h6 {
    font-family: 'Orbitron';
    color: #EF1679;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    bottom: 60px;
    left: 0;
    right: 0;
    transition: all .4s;
}

.team-card p {
    font-family: 'Orbitron';
    color: #EF1679;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 0;
    right: 0;
    transition: all .4s;
    opacity: 0;
}

.team-card:hover p {
    bottom: 40px;
    opacity: 1;
}

.team-card:hover h6 {
    color: white;
    transition: all .4s;
}

.bg-servers {
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 10px;
    background: var(--glass-1-fill-carey, linear-gradient(294deg, rgba(191, 191, 191, 0.06) 0%, rgba(0, 0, 0, 0.00) 100%), rgba(0, 0, 0, 0.14));
    box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.24);
}