.bg-main {
    background: url('/Landing.jpg');
    background-size: 100%;
    min-height: 100vh;
    background-position: center top;
}

.navbar-blur {
    background: transparent;
    transition: 0.3s all;
}

.active-blur {
    background: #12111281;
    backdrop-filter: blur(20px);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: 0.3s all;
}

.custom-btn {
    border-radius: 8px;
    background: linear-gradient(129deg, #1F8EBE 0%, #AE61ED 100%);
    box-shadow: 0px 17px 33px 0px rgba(255, 255, 255, 0.20);
}